<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/header') %>
	<!-- /Header -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/users/login" method="post">

				<div>
					<label for="email" class="form-label">Email: </label>
					<input type="text" name="email" value="" class="form-input">
				</div>
		
				<div>
					<label for="password" class="form-label">Contraseña: </label>
					<input type="password" name="contrasena" value="" class="form-input">
				</div>

		
				<div>
					<label for="recordame" class="form-label">Recordar mi información de inicio de sesión</label>
					<input type="checkbox" name="recordame" class="form-input">
				</div>
		
				<div>
					<!-- <label for="enviar" class="">Iniciar sesión</label> -->
					<button type="submit" name="enviar" class="form-input">Iniciar sesión</button>
				</div>
		
			</form>
			
			<% if(locals.errors){  %> 
				<p class= “error”> <%= errors.message %> </p>
			<% } %>
		
	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>