<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/header') %>
	<!-- /Header -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/users/profile" method="get">

				<div>
					<label for="usuario" class="">Usuario: </label>
					<input type="email" name="usuario" value="" class="">
				</div>
		
				<div>
					<label for="password" class="">Contraseña: </label>
					<input type="password" name="password" value="" class="">
				</div>
		
				<div>
					<label for="remember" class="">Recordar mi información de inicio de sesión</label>
					<input type="checkbox" name="remember" class="">
				</div>
		
				<div>
					<!-- <label for="enviar" class="">Iniciar sesión</label> -->
					<button type="submit" name="enviar" class="">Iniciar sesión</button>
				</div>
		
			</form>

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>