<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/header') %>
	<!-- /Header -->
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="" method="get">

				<div>
					<label for="usuario" class="">Usuario: </label>
					<input type="email" name="usuario" value="" class="">
				</div>
		
				<div>
					<label for="password" class="">Contraseña: </label>
					<input type="password" name="password" value="" class="">
				</div>
		
				<div>
					<label for="remember" class="">Recordar mi información de inicio de sesión</label>
					<input type="checkbox" name="remember" class="">
				</div>
		
				<div>
					<!-- <label for="enviar" class="">Iniciar sesión</label> -->
					<button type="submit" name="enviar" class="">Iniciar sesión</button>
				</div>
		
			</form>

			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de login. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
			</h2>


	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>