<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class = "col-12"> 
			<form action="/product/products" method="post">

				<div>
					<label for="producto" class="form-label">Agrega una foto del producto</label>
					<input type="file" name="producto" value="" class="form-input">
				</div>
		
				<div>
					<label for="nombre" class="form-label">Nombre del producto: </label>
					<input type="text" name="nombre" value="" class="form-input">
				</div>
		
				<div>
					<label for="descripcion" class="form-label">Descripcion del producto: </label>
					<input type="text" name="descripcion" value="" class="form-input">
				</div>
		
				<div>
					<button type="submit" name="enviar" class="form-input">Guardar cambios del producto</button>
				</div>
		
			</form>


	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>