<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/product/products" method="get">

				<div>
					<label for="producto" class="">Agrega una foto del producto</label>
					<input type="file" name="producto" value="" class="">
				</div>
		
				<div>
					<label for="nombre" class="">Nombre del producto: </label>
					<input type="text" name="nombre" value="" class="">
				</div>
		
				<div>
					<label for="descripcion" class="">Descripcion del producto: </label>
					<input type="text" name="descripcion" value="" class="">
				</div>
		
				<div>
					<label for="fecha" class="">Fecha de carga: </label>
					<input type="date" name="fecha" value="" class="">
				</div>
		
				<div>
					<button type="submit" name="enviar" class="">Guardar cambios del producto</button>
				</div>
		
			</form>

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>