<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/header') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/users/profile" method="get">
        
				<div>
					<label for="email" class="">Email: </label>
					<input type="email" name="email" value="" class="">
				</div>
		
				<div>
					<label for="nombre" class="">Nombre: </label>
					<input type="text" name="nombre" value="" class="">
				</div>
		
				<div>
					<label for="apellido" class="">Apellido: </label>
					<input type="text" name="apellido" value="" class="">
				</div>

				<div>
					<label for="password" class="">Contraseña: </label>
					<input type="password" name="password" value="" class="">
				</div>
		
				<div>
					<label for="nacimiento" class="">Fecha de nacimiento: </label>
					<input type="date" name="nacimiento" value="" class="">
				</div>
		
				<div>
					<label for="dni" class="">Número de documento: </label>
					<input type="number" name="dni" value="" class="">
				</div>
		
				<div>
					<label for="avatar" class="">Foto de perfil: </label>
					<input type="file" name="avatar" value="" class="">
				</div>
		
				<div>
					<label for="enviar" class="">Hacé clic para registrarte</label>
					<input type="submit" name="enviar" class="">
				</div>
		
			</form>

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>