<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include ('./partials/head') %>

<body>
	<!-- Header -->
	<%- include ('./partials/header') %>	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form action="/users/profile" method="get">
        
				<div>
					<label for="email" class="form-label">Email: </label>
					<input type="email" name="email" value="" class="form-input">
				</div>
		
				<div>
					<label for="nombre" class="form-label">Nombre: </label>
					<input type="text" name="nombre" value="" class="form-input">
				</div>
		
				<div>
					<label for="apellido" class="form-label">Apellido: </label>
					<input type="text" name="apellido" value="" class="form-input">
				</div>
				
				<div>
					<label for="usuario" class="form-label">Usuario: </label>
					<input type="text" name="usuario" value="" class="form-input">
				</div>

				<div>
					<label for="password" class="form-label">Contraseña: </label>
					<input type="password" name="password" value="" class="form-input">
				</div>
		
				<div>
					<label for="nacimiento" class="form-label">Fecha de nacimiento: </label>
					<input type="date" name="nacimiento" value="" class="form-input">
				</div>
		
				<div>
					<label for="dni" class="form-label">Número de documento: </label>
					<input type="number" name="dni" value="" class="form-input">
				</div>
		
				<div>
					<label for="avatar" class="form-label">Foto de perfil: </label>
					<input type="file" name="avatar" value="" class="form-input">
				</div>
		
				<div>
					<label for="enviar" class="form-label">Hacé clic para registrarte</label>
					<input type="submit" name="enviar" class="form-input">
				</div>
		
			</form>

	<!-- footer -->
	<%- include ('./partials/footer') %>
	<!-- /footer -->
</body>

</html>